<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false">
      <h3 ngbAccordionHeader>
          <button ngbAccordionButton class="fw-bold">question 1</button>
      </h3>
      <div ngbAccordionCollapse>
          <div ngbAccordionBody>
              <ng-template>
                  <span>Answer 1</span>
              </ng-template>
          </div>
      </div>
  </div>
  <div ngbAccordionItem>
      <h3 ngbAccordionHeader>
          <button ngbAccordionButton class="fw-bold">question 2</button>
      </h3>
      <div ngbAccordionCollapse>
          <div ngbAccordionBody>
              <ng-template>
                  <span>Answer 2</span>
              </ng-template>
          </div>
      </div>
  </div>
</div>